{% extends 'base.html' %}
{% block title %}아테네 학원 - 퇴원생 목록{% endblock %}
{% block content %}

	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>퇴원생 목록</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">학생 관리</a></li>
									<li class="breadcrumb-item active" aria-current="page">퇴원생 목록</li>
								</ol>
							</nav>
						</div>
						<div class="col-md-6 col-sm-12 text-right">
							<div class="dropdown">
<!--								<a class="btn btn-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown">-->
<!--									January 2018-->
<!--								</a>-->
<!--								<div class="dropdown-menu dropdown-menu-right">-->
<!--									<a class="dropdown-item" href="#">Export List</a>-->
<!--									<a class="dropdown-item" href="#">Policies</a>-->
<!--									<a class="dropdown-item" href="#">View Assets</a>-->
<!--								</div>-->
							</div>
						</div>
					</div>
				</div>
				<!-- Simple Datatable start -->
				<div class="card-box mb-30">
					<div class="pd-20">
						<h4 class="text-blue h4">퇴원생 목록</h4>
					</div>
					<div class="pb-20">
						<table class="data-table table stripe hover nowrap">
							<thead>
								<tr>
									<th class="table-plus">이름</th>
									<th>성별</th>
									<th>아이디</th>
									<th>휴대폰 번호</th>
									<th>퇴사일</th>
									<th class="datatable-nosort">재등록 신청</th>
								</tr>
							</thead>
							<tbody>
								{% if customer_list %}
								{% for customer in customer_list %}
								{% if customer.c_code %}
								{% if not customer.c_state %}
								<tr>
									<td class="table-plus">{{ customer.c_name }}</td>
									<td>{{ customer.c_gender }}</td>
									<td>{{ customer.c_id }}</td>
									<td>{{ customer.c_phone }}</td>
									<td>{{ customer.c_join }}</td>
									<td>
										<div class="dropdown">
											<form method="post" onsubmit="return confirm('{{ customer.c_name }} 학생을 재등록 처리 하시겠습니까?');">
											{% csrf_token %}
											<button id="test" value="{{ customer.c_no }}" name="c_no" type="submit" class="btn btn-success"><span class="font_a">재등록</span></button>
											</form>
										</div>
									</td>
								</tr>
								{% endif %}
								{% endif %}
								{% endfor %}
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>

	<!-- js -->
	<script src="../static/vendors/scripts/core.js"></script>
	<script src="../static/vendors/scripts/script.min.js"></script>
	<script src="../static/vendors/scripts/process.js"></script>
	<script src="../static/vendors/scripts/layout-settings.js"></script>
	<script src="../static/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
	<script src="../static/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
	<script src="../static/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
	<script src="../static/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
	<!-- buttons for Export datatable -->
	<script src="../static/src/plugins/datatables/js/dataTables.buttons.min.js"></script>
	<script src="../static/src/plugins/datatables/js/buttons.bootstrap4.min.js"></script>
	<script src="../static/src/plugins/datatables/js/buttons.print.min.js"></script>
	<script src="../static/src/plugins/datatables/js/buttons.html5.min.js"></script>
	<script src="../static/src/plugins/datatables/js/buttons.flash.min.js"></script>
	<script src="../static/src/plugins/datatables/js/pdfmake.min.js"></script>
	<script src="../static/src/plugins/datatables/js/vfs_fonts.js"></script>
	<!-- Datatable Setting js -->
	<script src="../static/vendors/scripts/datatable-setting.js"></script></body>
{% endblock %}