<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'plus.css' %}">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- jquery slim 지우고 minified 추가 -->
<!--    <script-->
<!--  src="https://code.jquery.com/jquery-3.3.1.min.js"-->
<!--  crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'vendors/images/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'vendors/images/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'vendors/images/favicon-16x16.png' %}">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/core.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/icon-font.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'src/plugins/datatables/css/dataTables.bootstrap4.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'src/plugins/datatables/css/responsive.bootstrap4.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/style.css' %}">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-119386393-1');

    </script>

<style>
.root
{
    width: 670px;
    height: 100%;

    margin: 10px 10px 10px 10px;
    border-style : groove;
}

    .student_top
{
    min-width : 98%;
    min-height : 35%;
    margin : 1%;
    padding : 1%;
    border-style : groove;
}

    .student_bottom
{
    min-width : 98%;
    min-height : 45%;
    margin : 1%;
    padding : 1%;
    border-style : groove;
}
</style>

	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-119386393-1');

	</script>
</head>
<body>
    <div class="root">
        <div class="student_top">

            <div class="alert alert-primary" role="alert"><span>학생 정보</span> </div>
                <div class="row ml-2 mb-2">
                    <form method="post" onsubmit="return confirm('퇴원 처리 하시겠습니까?');">
                            {% csrf_token %}

                            <button id="test" value="1" name="버튼" type="submit" class="delete btn btn-danger pull-right" style="width : 100px;"><span class="font_a">퇴원 신청</span></button>
                            </form>
                </div>
            <div class="contain">
            <div class="row">
                <div class="col">
                    <table class="table smalling">
                        <tr>
                            <th>이름</th>
                            <td style="font-size : 11px">{{ customer_info.c_name }}</td>
                            <th>휴대폰 번호</th>
                            <td style="font-size : 11px">{{ customer_info.c_phone }}</td>
                        </tr>
                        <tr>
                            <th>아이디</th>
                            <td style="font-size : 11px">{{ customer_info.c_id }}</td>
                            <th>생년월일</th>
                            <td style="font-size : 11px">{{ customer_info.c_birth }}</td>
                        </tr>
                        <tr class="smalling">
                            <th>성별</th>
                            <td style="font-size : 11px">{{ customer_info.c_gender }}</td>
                            <th>등록일자</th>
                            <td style="font-size : 11px">{{ customer_info.c_join }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            </div>
            </div>
        <div class="student_bottom">
            <div class="alert alert-primary" role="alert">신청 강의 현황</div>
            <div class = "ml-3 mr-3">
            <div class="row">
                 <table class="table table-striped table-hover">
                        <tr class="smalling">
                            <th>담당과목</th>
                            <th>부서</th>
                            <th>학년</th>
                            <th>수강 인원</th>
                            <th>강의 기간</th>
                        </tr>
                        <tr class="smalling">
                            <td style="font-size : 11px">수학</td>
                            <td style="font-size : 11px">중등부</td>
                            <td style="font-size : 11px">2학년</td>
                            <td style="font-size : 11px">14명</td>
                            <td style="font-size : 11px">20-01-01 ~ 20-04-30</td>
                        </tr>
                     <tr class="smalling">
                            <td style="font-size : 11px">수학</td>
                            <td style="font-size : 11px">중등부</td>
                            <td style="font-size : 11px">2학년</td>
                            <td style="font-size : 11px">14명</td>
                            <td style="font-size : 11px">20-01-01 ~ 20-04-30</td>
                        </tr>

                    </table>


            </div>
                </div>




        </div>
<!--        <div class="wrap-last">-->

<!--        </div>-->
    </div>


    <script src="{% static 'plus.js' %}"></script>
	<script src="{% static 'vendors/scripts/core.js' %}"></script>
	<script src="{% static 'vendors/scripts/script.min.js' %}"></script>
	<script src="{% static 'vendors/scripts/process.js' %}"></script>
	<script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
	<script src="{% static 'src/plugins/apexcharts/apexcharts.min.js' %}"></script>
	<script src="{% static 'src/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'src/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
	<script src="{% static 'src/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'src/plugins/datatables/js/responsive.bootstrap4.min.js' %}"></script>
	<script src="{% static 'vendors/scripts/dashboard.js' %}"></script>

</body>
</html>
