<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name='viewport' content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <title>아테네 학원 선생님 페이지</title>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'teacherbasecss.css' %}">
</head>
<body>
    <div id="wrap">
        <div id="header">
            <img class="logo" src="{% static 'athenlogo.png' %}" width="200" height="200"/>
            <div class="title">
                <h1>안녕하세요!</h1>
                <h1>{{user.get_full_name}} 선생님</h1>
            </div>
            <div class="logout">
                <button type="button" class="btn btn-danger btn-sm" onclick = "location.href = '/logout'; ">로그아웃</button>
                <button type="button" class="btn btn-danger btn-sm" onclick = "location.href = '#'; ">마이페이지</button>
            </div>
        </div>
        <div id="content">
            <div id="menu">
                <div class="card border-dark mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <div class="card-header"><h2 style="text-align: center;">Menu</h2></div>
                        <button type="button" class="btn btn-info btn-lg btn-block" onclick = "location.href = 'teacher/';">공지사항</button>
                        <button type="button" class="btn btn-info btn-lg btn-block" onclick = "location.href = '/manage/'; ">수업관리</button>
                        <button type="button" class="btn btn-info btn-lg btn-block" onclick = "location.href = '#'; ">온라인자료</button>
                        <button type="button" class="btn btn-info btn-lg btn-block" onclick = "location.href = '#'; ">상담현황</button>
                    </div>
                </div>
            </div>
            <div id="main">
                {% block content %}

                {% endblock %}
            </div>
        </div>
        <div id="footer">
            <img class="logo" src="{% static 'athenlogo.png' %}" width="200" height="200"/>
            <div class="terms">
                <div class="footer-link">
                    <button type="button" class="btn btn-outline-warning btn-sm" onclick = "location.href = '#'; ">이용약관</button>
                    <button type="button" class="btn btn-outline-warning btn-sm" onclick = "location.href = '#'; ">개인정보 처리 방침</button>
                </div>
                <h6>
                (주) 아테네 영/수학원 | 대표 공민우 | 사업자등록번호 001-01-00001 | 문의 전화 02 001 0001(0002)
                본점 왕십리 무학로 성동우체국 건물 4층  | 문의 메일 joy3968@naver.com
                </h6>
            </div>
        </div>
    </div>
</body>
</html>