{% extends 'teacherbase.html' %}
{% load static %}
{% block content %}
<head>
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'jquery.simple-dtpicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link type="text/css" href="{% static 'jquery.simple-dtpicker.css' %}" rel="stylesheet" />
    <script>
      $(function(){
        $('#date_picker').dtpicker();
        });
      $(function(){
          $('*[name=at_date]').appendDtpicker({
              "inline":true,
              "locale":"ko",
              "dateOnly": true,
              "futureOnly": false,
              "calendarMouseScroll": false,
          });
      });
    </script>
</head>
<div style="margin-top:50px; margin-left:200px">
  <h1>수업관리</h1>
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" id="nav-info" data-toggle="tab" href="#info">학생정보</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" id="nav-attend" data-toggle="tab" href="#attend">출결</a>
  </li>
  </ul>
  <br>
  <hr>
  <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active show" id="info">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">이름</th>
                <th scope="col">수강시작일</th>
                <th scope="col">학교</th>
                <th scope="col">전화번호</th>
              </tr>
            </thead>
            <tbody>
              {% if student_list %}
              {% for student in student_list %}
                <tr>
                  <th scope="row" style="width:15%">{{student.c_no.c_name}}</th>
                  <td style="width:25%">{{student.tr_date}}</td>
                  <td style="width:25%">{{student.c_no.c_school}}</td>
                  <td style="width:35%">{{student.c_no.c_phone}}</td>
                </tr>
              {% endfor %}
              {% else %}
                <tr>
                  <td>등록된 학생이 없습니다.</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
      </div>
      <hr>
      <h3>출결</h3>
      <div class="tab-pane fade active show" id="attend">
        {% if error %}
        <div class="alert alert-dismissible alert-danger">
            <strong>미래 시간대는 설정 할 수 없습니다.</strong>
        </div>
        {% endif %}
        <form method="POST">
          {% csrf_token %}
          {{form.as_p}}
        <button type="submit" class="btn btn-success" name="button" value="1">확인</button>
        </form>
        <br>
        {% if set_attendance %}
        <form method="POST">
        {% csrf_token %}
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">이름</th>
                <th scope="col">출결현황</th>
              </tr>
            </thead>
            <tbody>
                  <input type="hidden" name="date" value="{{date}}">
                  {% if student_attendance %}
                  {% for list in student_attendance %}
                    <tr>
                      <th scope="row" style="width:15%">{{list.c_no.c_name}}</th>
                      <input type="hidden" name="{{list.tr_no}}" value="{{list.tr_no}}">
                      <th scope="row" style="width:20%"><select name="atd{{list.tr_no}}" class="form-control" id="exampleSelect1">
                        <option>출석</option>
                        <option>결석</option>
                        <option>지각</option>
                        <option>조퇴</option>
                    </select></th>
                    </tr>
                  {% endfor %}
                  <h4>{{date}}일 출석부</h4>
                  {% else %}
                    <tr>
                      <td>등록된 학생이 없습니다.</td>
                    </tr>
                  {% endif %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-success" name="button" value="2">저장</button>
        <br>
        </form>
        {% endif %}
      </div>
  </div>
</div>
<br>
{% endblock %}
