{% load static %}
<!-- 메뉴 버튼 -->
<div class="container">
    <div class="row">
        <div class="col">
            <a href="/my"><button type="button" class="btn btn-primary ml-5">정보 수정</button></a>
        </div>
        <div class="col col_btn" >
            <a href="../calendar"><button type="button" class="btn btn-primary ml-5">출결 현황</button></a>
        </div>
        <div class="col col_btn">
            <a href="#온라인자료"><button type="button" class="btn btn-primary ml-5">온라인 자료</button></a>
        </div>
    </div>
</div>
<hr>