{% load static %}
<!-- Footer -->
		<footer class="footer section">
			<!-- Footer Top -->
			<div class="footer-top overlay">
				<div class="container" >
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12">
							<!-- About -->
							<div class="single-widget about">
								<h2></h2>
								<ul class="list">
									<li><a href="#">이용약관</a></li>
									<li><a href="#">개인정보 처리 방침</a></li>
									<li><a href="/admin/login">admin</a></li>
                                    <li><a href="/login/login">teacher</a></li>
								</ul>
								<!-- End Social -->
							</div>
							<!--/ End About -->
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- Useful Links -->
							<div class="single-widget list">
								<ul>
									<li>주) 아테네 영/수 학원 | 대표 공민우 </li>
									<li>사업자등록번호 001-01-00001</li>
									<li>본점 왕십리 무학로 성동우체국 건물 4층</li>
									<li>문의 메일 joy3968@naver.com</li>
								</ul>
							</div>
							<!--/ End Useful Links -->
						</div>
					</div>
				</div>
			</div>
			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<!-- Copyright -->
							<div class="copyright">
								<p>© Copyright athens 2020. Design & Development</p>
							</div>
							<!--/ End Copyright -->
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--/ End Footer -->