{% extends 'base2.html' %}
{% block content %}
{% load static %}
<div class="row">
    <div class="col-lg-6 offset-lg-3 col-5">
              <div class="section-title bg">
                  <br><br>
<h1 class="col text-center">2021 신입생 모집 요강</h1>
                  <br><br>
              </div>
    </div>
</div>

<div class="container">
    <img src="{% static '모집요강2.jpg' %}" style="width : 100%; height : 500px; margin : 0px 0px 120px; padding-left : 80px;">
    <h1 class="col text-center">변화된 2021학년도 수능<br>한 발 빠르게 철저한 관릭 속에서 제대로 준비해야합니다</h1>
    <br>
    <IMG src="{% static '모집요강_2.jpg' %}" style="margin : 0px 0px 100px; padding-left : 80px;">
</div>
<div class="container">
    <h1 class="col text-center">선배들이 인정하고 증명한<br>아테네학원 선배들의 의견</h1>
    <br>
    <img src="{% static '모집요강4.jpg' %}" style="margin : 0px 0px 100px; padding-left : 80px;">
</div>
<div class="container">
    <h1 class="col text-center">선배들의 놀라운 성과</h1>
    <br>
    <img src="{% static '모집요강5.jpg' %}" style="margin : 00px 0px 100px padding-left : 200px">
</div>
<br><br>
<div class="container">
    <h1 class="col text-center"><br>상담 문의</h1>
    <br><br>
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">아테네 영/수 학원</h1>
    <div class="col text-center">
    <p class="lead"><br>주소 : 본점 왕십리 무학로 성동우체국 건물4층<br>상담처 전화번호 : 001-01-00001<br>문의 메일 : joy3968#naver.com</p>
    </div>
  </div>
</div>
</div>

{% endblock %}